@font-face {
  font-family: "iconfont"; /* Project id 3156706 */
  src: url('//at.alicdn.com/t/font_3156706_zs2q492evz.woff2?t=1644651613417') format('woff2'),
  url('//at.alicdn.com/t/font_3156706_zs2q492evz.woff?t=1644651613417') format('woff'),
  url('//at.alicdn.com/t/font_3156706_zs2q492evz.ttf?t=1644651613417') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e642";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-chazhaoyonghu:before {
  content: "\e63f";
}

.icon-xiazai:before {
  content: "\e640";
}

.icon-xihuan1:before {
  content: "\e86f";
}

.icon-bofang1:before {
  content: "\e87c";
}

.icon-huiyuanvip:before {
  content: "\e7ac";
}

.icon-zanting2:before {
  content: "\e669";
}

.icon-cuocha_kuai:before {
  content: "\ed1e";
}

.icon-MV:before {
  content: "\e641";
}

.icon-sousuo1:before {
  content: "\e8b9";
}

.icon-biaodan:before {
  content: "\e61d";
}

.icon-caidan:before {
  content: "\e61e";
}

.icon-bianji:before {
  content: "\e61f";
}

.icon-gengduo:before {
  content: "\e620";
}

.icon-huiyuanzhongxin:before {
  content: "\e621";
}

.icon-faxian:before {
  content: "\e622";
}

.icon-kaishi:before {
  content: "\e623";
}

.icon-pinlun:before {
  content: "\e624";
}

.icon-pingjia:before {
  content: "\e625";
}

.icon-qita:before {
  content: "\e626";
}

.icon-sousuo:before {
  content: "\e627";
}

.icon-gerenzhongxin:before {
  content: "\e628";
}

.icon-saoyisao:before {
  content: "\e629";
}

.icon-shangyishou:before {
  content: "\e62a";
}

.icon-xiaoxi:before {
  content: "\e62b";
}

.icon-xiayishou:before {
  content: "\e62c";
}

.icon-xinxi:before {
  content: "\e62d";
}

.icon-yincang:before {
  content: "\e62e";
}

.icon-tixing:before {
  content: "\e62f";
}

.icon-xihuan:before {
  content: "\e630";
}

.icon-shezhi:before {
  content: "\e631";
}

.icon-zanting:before {
  content: "\e632";
}

.icon-tuichu:before {
  content: "\e633";
}

.icon-xunhuan:before {
  content: "\e634";
}

.icon-shoucang:before {
  content: "\e635";
}

.icon-kefu:before {
  content: "\e636";
}

.icon-weibiaoti-8_huaban1:before {
  content: "\e601";
}

.icon-weibiaoti-8-03:before {
  content: "\e602";
}

.icon-mp3:before {
  content: "\e603";
}

.icon-maikefeng:before {
  content: "\e604";
}

.icon-yinxiang:before {
  content: "\e605";
}

.icon-yinfuhao:before {
  content: "\e607";
}

.icon-weibiaoti-8-07:before {
  content: "\e60b";
}

.icon-weibiaoti-8-10:before {
  content: "\e60c";
}

.icon-weibiaoti-8-06:before {
  content: "\e60f";
}

.icon-yinfu:before {
  content: "\e611";
}

.icon-ziyuan7:before {
  content: "\e613";
}

.icon-ziyuan9:before {
  content: "\e614";
}

.icon-maikefeng1:before {
  content: "\e606";
}

.icon-quxiaomaikefeng:before {
  content: "\e608";
}

.icon-quxiaoyinliang:before {
  content: "\e609";
}

.icon-zengjiayinliang:before {
  content: "\e60a";
}

.icon-jianshaoyinliang:before {
  content: "\e60d";
}

.icon-yinliangdi:before {
  content: "\e60e";
}

.icon-yinlianggao:before {
  content: "\e610";
}

.icon-jingyin:before {
  content: "\e612";
}

.icon-shipin:before {
  content: "\e615";
}

.icon-tupian:before {
  content: "\e616";
}

.icon-tianjiatubiao:before {
  content: "\e617";
}

.icon-bianjitupian:before {
  content: "\e618";
}

.icon-yinfu1:before {
  content: "\e619";
}

.icon-yinfu2:before {
  content: "\e61a";
}

.icon-bofang:before {
  content: "\e61b";
}

.icon-tingzhi:before {
  content: "\e61c";
}

.icon-zanting1:before {
  content: "\e637";
}

.icon-houtui:before {
  content: "\e638";
}

.icon-kuaijin:before {
  content: "\e639";
}

.icon-bofangliebiao:before {
  content: "\e63a";
}

.icon-bofangshaixuan:before {
  content: "\e63b";
}

.icon-xunhuanbofang:before {
  content: "\e63c";
}

.icon-suijibofang:before {
  content: "\e63d";
}

.icon-zuidahua:before {
  content: "\e63e";
}
